h1,h2{
    text-align: center;
    background: darkorange;
    color: #FFFFFF;
}
p{
    background: darkorange;
    color: #FFFFFF;
}
img{
    height: 400px;
    width: 200px;
}
ul{
    background: burlywood;
}
li,a{
    color: indigo;
    background: burlywood;
}
