
.main-wrap{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.wrap{
    display: flex;
    column-gap: 20px;
}
.inner-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-one{
    width: 100%;
    height: 200px;
}
.box-two{
    width: 70%;
    height: 400px;
}
.box-three{
    width: 30%;
    height: 400px;
}
.bg-indigo{
    background-color: indigo;
}
.border-radius{
    border-radius: 10px;
}
